/*SAFARI-fix*/
.drawer-right  .drawercontent.drag-container {
    overflow:visible;
}

.drawer-right .drawercontent .d-print-none {
    overflow:auto;
    scrollbar-width: thin;
    scrollbar-color: #6a737b #f8f9fa;
}