#messagestream-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 650px;
    max-height: 80%;
    max-width: 90%;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    resize: both;
    overflow: hidden; /* Verhindert Scrollbalken der Gesamtbox */
    display: flex;
    flex-direction: column;
    z-index: 1100;
}

.popup-header {
    padding: 10px;
    background: #f2f2f2;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
}
.popup-header .popup-close {
    cursor: pointer;
    font-size: 20px !important;
}

.popup-body {
    padding: 10px;
    overflow: auto;
    flex-grow: 1;
}


/**
MOBILE
**/

@media (max-width: 991.98px) {
    #messagestream-popup
    {
        display: block;
        resize: none;
        width: 100%;
        max-width: 100%;
        left: 0 !important;
        top: 0 !important;
        position: relative;
        box-shadow: none;
    }
    #messagestream-popup .popup-body {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 89%;
        scrollbar-width: thin;
        scrollbar-color: #6a737b #f8f9fa;
    }

    #messagestream-popup .popup-body .comments-wrapper{
        overflow-x: hidden;
    }
    #messagestream-popup .comment-controls .comment-options {
        display: block;
        /*display: none; wäre auch möglich*/
    }

    #messagestream-popup .comment-controls  .action-buttons .p-button {
        display: block;
    }
}


/*änderungen für stream*/
#messagestream-popup .reply-form-container , #messagestream-popup .p-avatar 
{
    display:none;
}
#messagestream-popup .child-comments 
{
    margin-top: 16px;
}
#messagestream-popup, #messagestream-popup *
{
    font-size: 98.8%;
}
