
#messagestream-popup .comment-form .p-panel.p-component:first-of-type 
{
    border-top:none;
    border-radius: 0;
}
#messagestream-popup .comment-form  .p-panel-content
{ 
}
#messagestream-popup .comment-form  .p-panel-content  .p-editor-content.ql-container
{
    width: 85%;
}
#messagestream-popup .greeting
{
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid #e2e8f0;
    border-bottom:none;
}

#messagestream-popup .greeting .text{
    width: 85%;
    margin-left: 10%;
    font-size: 12.5px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 12px; /* runde Ecken */
    padding: 1em;
    background: linear-gradient(180deg, #FAFAFB 0%, #FEFEFE 100%); /* sehr helles Grau ->  Weiß */
}

@media (max-width: 991.98px) {
    #messagestream-popup .comment-form  .p-panel-content  .p-editor-content.ql-container
    {
        width: 80%;
    }
}