<div class="block_messagestreamblock_container">
    <button id="openPopup" class="btn btn-primary">{{buttonlabel}}</button>

    <div id="messagestream-popup" class="messagestream-popup hidden">
        <div class="popup-header" id="popupHeader">
            <span class="popup-title">{{headertext}}</span>
            <span class="popup-close" id="closePopup">&times;</span>
        </div>
        <div class="popup-body">
            {{{textbeforestream}}}
            {{{messagestreamhtml}}}
        </div>
    </div>
</div>
